#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width: 500px;
}

#phone-details {
  display: flex;
  flex-wrap: wrap
}

#phone-characteristics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}