#root {
  max-width: 90rem;
  margin: auto;

  text-align: center;
}
.phone-image {
  width: 200px; 
  height: 200px; 
  border-radius: 20px;
  margin-left: 1rem;
}

.phoneContainer {
  max-width: 75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}