:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-line-clamp: 3;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
}

.navbar > a {
  margin: auto 2rem;
  text-decoration: none;
}
